################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/OkrConversationService/config/applicationhost.config

/OkrConversationService.Application/bin/Debug/netcoreapp3.1
/OkrConversationService.Application/obj/Debug/netcoreapp3.1
/OkrConversationService.Application.Tests/bin/Debug/netcoreapp3.1
/OkrConversationService.Application.Tests/obj/Debug/netcoreapp3.1

/OkrConversationService.Domain/bin/Debug/netcoreapp3.1
/OkrConversationService.Domain/obj/Debug/netcoreapp3.1
/OkrConversationService.Domain.Tests/bin/Debug/netcoreapp3.1
/OkrConversationService.Domain.Tests/obj/Debug/netcoreapp3.1

/OkrConversationService.Infrastructure/bin/Debug/netcoreapp3.1
/OkrConversationService.Infrastructure/obj/Debug/netcoreapp3.1
/OkrConversationService.Infrastructure.Tests/bin/Debug/netcoreapp3.1
/OkrConversationService.Infrastructure.Tests/obj/Debug/netcoreapp3.1

/OkrConversationService.Persistence/bin/Debug/netcoreapp3.1
/OkrConversationService.Persistence/obj/Debug/netcoreapp3.1

/OkrConversationService.Application/bin/Debug
/OkrConversationService.Application/obj/Debug
/OkrConversationService.Application/bin/
/OkrConversationService.Application/obj/
/OkrConversationService.Application.Tests/bin/
/OkrConversationService.Application.Tests/obj/

/OkrConversationService.Domain/bin/Debug
/OkrConversationService.Domain/obj/Debug
/OkrConversationService.Domain/bin/
/OkrConversationService.Domain/obj/
/OkrConversationService.Domain.Tests/bin/
/OkrConversationService.Domain.Tests/obj/

/OkrConversationService.Infrastructure/bin/Debug
/OkrConversationService.Infrastructure/obj/Debug
/OkrConversationService.Infrastructure/bin/
/OkrConversationService.Infrastructure/obj/
/OkrConversationService.Infrastructure.Tests/bin/
/OkrConversationService.Infrastructure.Tests/obj/

/OkrConversationService.Persistence/bin/Debug
/OkrConversationService.Persistence/obj/Debug
/OkrConversationService.Persistence/bin/
/OkrConversationService.Persistence/obj/

